body {
    font-family: Arial, sans-serif;
    background-color: #98989b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.mode-selection {
    margin-bottom: 20px;
}

.mode {
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #000000bd;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.mode:hover {
    background-color: #526970;
}

.choices {
    margin: 20px 0;
}

.choice {
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #5b5f667e;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.choice:hover {
    background-color: #323a39;
}

.result p {
    font-size: 18px;
    color: #333;
}